<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://func-function-cicd-dev-cus.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7079b8ad-b4dc-4d12-92c0-b1efbf7f4f67/resourceGroups/rg-function-cicd-dev-cus/providers/Microsoft.Web/sites/func-function-cicd-dev-cus</ResourceId>
    <UserName>$func-function-cicd-dev-cus</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://func-function-cicd-dev-cus.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>